html {
    margin: 0;
    padding: 0;
    height: 100%;
}

p {
    font-family: "Iosevka", sans-serif;
    color: #a9a9b3;
    font-size: 1rem;
    line-height: 1.25;
}

h1,
h2 {
    font-family: "Iosevka", monospace;
    color: #a9a9b3;
    padding-top: 1rem;
}